<!-- <p>add-new-user works!</p> -->
<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="p-1 add-new-title sm:px-6">
            <h2
              class="flex justify-between items-center font-semibold text-white"
              id="slide-over-title"
            >
              {{ data?.id ? "Update" : data?.temp_id ? "" : "Add New" }} Member
              {{ data?.temp_id ? "Changes Details" : "" }}
              <button color="warn" mat-dialog-close mat-icon-button>
                <mat-icon class="text-red-700">close</mat-icon>
              </button>
            </h2>
          </div>
          <div
            class="relative my-3 flex-1 px-4 sm:px-6"
            style="height: calc(100vh - 116px); overflow-y: auto"
          >
            <form class="space-y-1" [formGroup]="formGroup">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Name
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'member_name',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.member_name !=
                        formGroup.value.member_name
                    "
                  >
                    {{ data?.previous_data?.member_name }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="member_name"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'member_name')
                      "
                      placeholder="Add Your Name"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'member_name',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Designation
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'designation',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.designation !=
                        formGroup.value.designation
                    "
                  >
                    {{ data?.previous_data?.designation }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="designation"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'designation')
                      "
                      placeholder="Type Designation"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'designation',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Description
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'description',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 text-area-sec terms-height"
                >
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.description !=
                        formGroup.value.description
                    "
                  >
                    {{ data?.previous_data?.description }}
                  </mat-error>
                  <ngx-editor-menu
                    [editor]="editor"
                    [disabled]="data?.previous_data?.temp_id"
                    [toolbar]="Global.toolbar"
                  >
                  </ngx-editor-menu>
                  <div class="inner-height" [formGroup]="formGroup">
                    <ngx-editor
                      [editor]="editor"
                      formControlName="description"
                      [placeholder]="'Add Description'"
                    ></ngx-editor>
                  </div>
                </div>
                <mat-error
                  class="mb-2"
                  *ngIf="
                    !Global.isInputRuleValid(
                      formGroup,
                      'description',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Facebook URL
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'facebook_link',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.facebook_link !=
                        formGroup.value.facebook_link
                    "
                  >
                    {{ data?.previous_data?.facebook_link }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="facebook_link"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'facebook_link')
                      "
                      placeholder="Type Facebook URL"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'facebook_link',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Linkedin URL
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'linkedin_link',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.linkedin_link !=
                        formGroup.value.linkedin_link
                    "
                  >
                    {{ data?.previous_data?.linkedin_link }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="linkedin_link"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'linkedin_link')
                      "
                      placeholder="Type Linkedin URL"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'linkedin_link',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Twitter URL
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'twitter_link',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.twitter_link !=
                        formGroup.value.twitter_link
                    "
                  >
                    {{ data?.previous_data?.twitter_link }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="twitter_link"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'twitter_link')
                      "
                      placeholder="Type Twitter URL"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'twitter_link',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Status
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'status',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.status != formGroup.value.status
                    "
                  >
                    {{ data?.previous_data?.status }}
                  </mat-error>
                  <mat-form-field>
                    <mat-select
                      placeholder="Select"
                      formControlName="status"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'status')
                      "
                    >
                      <mat-option value="active">Active</mat-option>
                      <mat-option value="inactive">Inactive</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'status',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div
                class="border rounded"
                *ngIf="
                  data?.previous_data &&
                  Global.BACKEND_URL + data?.previous_data?.file_path !=
                    formGroup.value.file_preview
                "
              >
                <div class="">
                  <img
                    class="blur-xs grayscale"
                    [src]="Global.BACKEND_URL + data?.previous_data?.file_path"
                    alt="OLD File"
                  />
                </div>
              </div>
              <div class="h-60 border rounded">
                <div
                  class="w-full border h-full rounded flex items-center justify-center relative"
                >
                  <span
                    *ngIf="formGroup.value.file_preview"
                    class="absolute right-2 top-2"
                  >
                    <app-menu
                      [modalItem]="!data?.temp_id ? true : false"
                      (initModal)="mediaFile.click()"
                    ></app-menu>
                  </span>
                  <ng-container *ngIf="formGroup.value.file_preview">
                    <img
                      class="rounded-md w-full bg-gray-200 object-cover h-60"
                      [src]="formGroup.value.file_preview"
                      alt=" Media"
                    />
                  </ng-container>
                  <ng-container *ngIf="!formGroup.value.file_preview">
                    <div
                      class="flex flex-col items-center justify-center"
                      (click)="mediaFile.click()"
                    >
                      <img src="assets/placeholder-image-outline.png" alt="" />
                      <div>Upload Media File Here</div>
                      <!-- <div class="text-center text-red-600 font-normal italic">
                        Accepts the following file types: .png, .jpg.
                      </div> -->
                    </div>
                  </ng-container>
                </div>
                <div class="w-full text-sm pt-1" style="color: red">
                  <b>Note:</b> Upload files in .png, .jpg, .jpeg formats only.
                  Recommended file size: 174 pixels in width and 173 pixels in
                  height.
                </div>
                <input
                  type="file"
                  #mediaFile
                  hidden
                  (change)="
                    Global.onFileSelected(
                      formGroup,
                      $event,
                      'file',
                      toastr,
                      ['image/jpeg', 'image/png'],
                      'file_preview'
                    )
                  "
                />
              </div>
              <mat-error
                class="mb-2"
                *ngIf="!Global.isInputRuleValid(formGroup, 'file', 'required')"
              >
                This field is required
              </mat-error>
            </form>
          </div>
          <div *ngIf="!data?.temp_id">
            <button
              (click)="submitMember()"
              [disabled]="formGroup.disabled"
              class="flex border w-full justify-center px-3 py-3 text-green-500"
            >
              {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
            </button>
          </div>
          <div class="flex" *ngIf="data?.request_details?.status === 'pending'">
            <button
              (click)="approveContent('approved')"
              class="flex border w-[50%] justify-center px-3 py-3 text-green-500"
            >
              APPROVE
            </button>
            <button
              (click)="approveContent('rejected')"
              class="flex border w-[50%] justify-center px-3 py-3 text-red-500"
            >
              REJECT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
