<div class="fixed inset-0 overflow-hidden">
<div class="absolute inset-0 overflow-hidden">
  <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
    <div class="pointer-events-auto relative w-screen max-w-md">
      <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">

        <div class="p-1 add-new-title sm:px-6">
          <h2 class="flex justify-between items-center font-semibold text-white" id="slide-over-title">
            {{data ? "Update Awards" : "Add Awards "}}
            <button color="warn" mat-dialog-close mat-icon-button>
              <mat-icon class="text-red-700">close</mat-icon>
            </button>
          </h2>
        </div>
        
        <div class="relative  my-3 flex-1 px-4 sm:px-6">
          <form class="space-y-6" [formGroup]="formGroup">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">Title*</label>
                <div class="mt-2">
                    <input formControlName="title" type="text"
                      class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">Description*</label>
                <div class="mt-2">
                  <textarea formControlName="description" type="text"
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">Website Link</label>
                <div class="mt-2">
                  <input formControlName="website_link" type="text"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                </div>
              </div>
              <div>
                <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option*</label>
                <div class="mt-2">
                    <select id="status" formControlName="status"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                </div>
              </div>
              <div class="border relative">
                <div class="w-full bg-white p-5 h-full rounded flex items-center justify-center">
                  <div class="flex flex-col items-center justify-center">
                    <span class="absolute top-0 right-0" *ngIf="imagePreview || videoPreview">
                      <app-menu [delete]="'gg'" (deleteItem)="deleteItem($event)"></app-menu>
                    </span>
                    <ng-container *ngIf="!imagePreview && !videoPreview">
                      <label class="flex flex-col items-center justify-center">
                        <img src="assets/placeholder-image-outline.png" alt="Upload Image" />
                        <div *ngIf="!isSubmitted || !hasError  || !hasSzError"
                          class="text-center text-red-600 font-normal italic">
                          <div style="color: red;">Minimum size required: 1920 width x 640 height</div>
                          <div class="mb-3"></div>
                          <div class="mb-3"></div>
                          <div style="color: red;">Upload files in .png, .jpg, .jpeg, .gif, or .mp4 formats only</div>
                        </div>
                        <div *ngIf="isSubmitted || hasError || hasSzError"
                          class="text-center text-red-600 font-normal italic">
                          <div *ngIf="hasError"><b>{{errorMessage1}}</b></div>
                          <div *ngIf="hasVdError"><b>{{errorMessage2}}</b> </div>
                          <div *ngIf="hasSzError"><b>{{errorMessage3}}</b></div>
                        </div>
                        <input id="chooseFile" hidden type="file" class="d-none" (change)="onFileSelected($event)" accept="video/*,image/*" />
                      </label>
                    </ng-container>
                    <div *ngIf="imagePreview" class="mt-3">
                      <img [src]="imagePreview" alt="Image Preview" class="preview-image" />
                    </div>
                    <div *ngIf="videoPreview" class="mt-3">
                      <video [src]="videoPreview" controls>
                        Your browser does not support the video tag.
                      </video>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div>
          <button (click)="onSubmit()" [disabled]="formGroup.disabled"
            class="flex border w-full justify-center px-3 py-3 text-green-500">
            {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>