<div class="absolute flex justify-end right-5 top-14">
  <div class="flex">
    <button
      (click)="addItem()"
      type="button"
      class="px-2 py-1 outline-1 text-xs font-medium text-center inline-flex items-center border-red-500 text-red-500 border rounded-full"
    >
      <mat-icon class="text-xs font-medium">add</mat-icon>
      Add New
    </button>
  </div>
</div>
<div class="tender-wrapper">
  <div class="grid grid-cols-1 gap-2">
    <ng-container *ngFor="let item of item_list; let i = index">
      <div class="relative p-3 border rounded bg-white">
        <span class="absolute top-0 right-0">
          <app-menu
            [modalItem]="item"
            (initModal)="addItem($event)"
            [delete]="item"
            (deleteItem)="deleteItem($event)"
          ></app-menu>
        </span>

        <div class="mt-1">
          <span
            class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-full border border-gray-600 me-2"
            >#{{ item?.tender_no }}</span
          ><span
            class="bg-red-100 text-red-500 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-full border border-red-600 me-2"
            >{{ item?.category_name }}</span
          >
          <span class="mx-1 text-xs">{{
            item?.tender_status | titlecase
          }}</span>
        </div>
        <div class="py-1 text-sm font-bold">{{ item?.tender_name }}</div>
        <div class="py-1 text-xs font-normal">
          <ng-container
            *ngIf="
              item?.description?.length < 330 || showMore[i];
              else shortContent
            "
          >
            {{ item?.description }}
          </ng-container>
          <ng-template #shortContent>
            {{ item?.description.slice(0, 330) }}...
          </ng-template>
          <a
            class="text-blue-600"
            href="javascript:void(0)"
            *ngIf="item?.description?.length >= 330"
            (click)="showMore[i] = !showMore[i]"
          >
            Read {{ showMore[i] ? "Less" : "More" }}
          </a>
        </div>
        <div class="py-1 text-xs font-normal flex">
          <div class="flex flex-col">
            <span class="text-gray-400">Start Date</span>
            <span class="font-bold">{{
              item?.start_at | date : "dd-MM-yyyy"
            }}</span>
          </div>
          <div class="flex flex-col mx-3">
            <span class="text-gray-400">End Date</span>
            <span class="font-bold">{{
              item?.end_at | date : "dd-MM-yyyy"
            }}</span>
          </div>
          <div *ngIf="item?.attachment" class="flex flex-col mx-3">
            <span class="text-gray-400">Tender Document</span>
            <a [href]="Global.BACKEND_URL + item?.attachment" class="font-bold"
              >tenderfile.{{ Global.getFileExtension(item?.attachment) }}</a
            >
          </div>
          <div
            *ngIf="item?.corrigendum_start_at && item?.corrigendum_end_at"
            class="flex flex-col mx-3"
          >
            <span class="text-gray-400">Corrigendum Date</span>
            <span class="font-bold"
              >{{ item?.corrigendum_start_at | date : "dd-MM-yyyy" }} to
              {{ item?.corrigendum_end_at | date : "dd-MM-yyyy" }}</span
            >
          </div>

          <div *ngIf="item?.corrigendum_attachment" class="flex flex-col mx-3">
            <span class="text-gray-400">Corrigendum Document</span>
            <a
              [href]="Global.BACKEND_URL + item?.corrigendum_attachment"
              class="font-bold"
              >corrigendumfile.{{
                Global.getFileExtension(item?.corrigendum_attachment)
              }}</a
            >
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!item_list?.length">
    <div class="h-[85%] flex justify-center items-center">
      <span>No Items Found</span>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="item_list?.length">
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
