<div class="relative overflow-x-auto">
  <div class="m-3 flex justify-between items-center">
    <div class="flex flex-col items-start">
      <span class="text-base font-medium">Enquiry List</span>
      <span class="block text-gray-500 text-xs">{{rows.length}} Enquiry added</span>
    </div>
    <!-- <button (click)="addItem()" class="ai-button">+ Add New</button> -->
  </div>
  <hr />
  
  <!-- SEARCH -->
  <input type="text" style="padding:8px;margin:15px auto;width:30%;" placeholder="Type to filter the name column..." 
    (keyup)="updateFilter($event)" />

  <!-- DATA TABLE -->
  <ng-container *ngIf="rows.length > 0">
    <ngx-datatable
      #table
      class="material"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="5"
      [rows]="rows">

    <!-- ACTIONS -->
    <ng-container *ngFor="let column of columns">
      <ngx-datatable-column [name]="column.name" [prop]="column.prop">
        <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
          <ng-container *ngIf="column.prop === 'action'; else defaultTemplate">
              <span  matRipple mat-button [matMenuTriggerFor]="menu" matTooltip="View content" class="hover-effect">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical"  viewBox="0 0 16 16">  
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
              </span>

            <mat-menu #menu="matMenu">
              <ng-container class="menu-content">
                <ol class="p-4">
                  <li class="p-1" (click)="editItem(row)" style="cursor: pointer;"> Edit </li>
                  <li class="p-1" (click)="deleteItems(row)" style="cursor: pointer;"> Delete </li>
                </ol>
              </ng-container>
            </mat-menu>

          </ng-container>
            <!-- <ng-container *ngIf="column.prop === 'award_images'">
              <img [src]="row[column.prop][0].file_path" style="height: 100px; width: 200px; padding: 4px;">
            </ng-container>
            <ng-container *ngIf="column.prop != 'award_images'">
              <span > {{row[column.prop]}} </span>
            </ng-container> -->
          <ng-template #defaultTemplate> {{row[column.prop]}} </ng-template>

        </ng-template>
      </ngx-datatable-column>
    </ng-container>
  </ngx-datatable>
  </ng-container>
</div>

<router-outlet></router-outlet>