<div class="absolute flex justify-end right-5 top-14">
  <button
    *ngIf="permissions.includes('add') || permissions.includes('edit')"
    (click)="updateData()"
    type="button"
    class="px-2 py-1 outline-1 text-xs font-medium text-center inline-flex items-center border-red-500 text-red-500 border rounded-full"
  >
    <mat-icon class="text-xs font-medium">{{
      editInfo ? "save" : "edit"
    }}</mat-icon>
    {{ editInfo ? "Update" : "Edit" }} Template
  </button>
</div>
<div class="flex gap-3">
  <div class="w-full bg-white p-3 rounded">
    <form class="space-y-6">
      <div
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 text-area-sec terms-height"
      >
        <ngx-editor-menu [disabled]="!editInfo" [toolbar]="Global.toolbar" [editor]="editor">
        </ngx-editor-menu>
        <div class="inner-height" [formGroup]="formGroup">
          <ngx-editor
            [disabled]="!editInfo"
            [editor]="editor"
            formControlName="content"
            [placeholder]="'Add content'"
          ></ngx-editor>
        </div>
      </div>
    </form>
  </div>
</div>
