<div class="absolute right-2 top-14">
    <div class="flex items-center border-b-2 border-gray-300">
      <input
        type="text"
        class="px-1 py-1.5 min-w-60 bg-inherit mx-3 outline-none"
        placeholder="Search..."
        (ngModelChange)="searchSubject.next($event)"
        [(ngModel)]="search_key"
      />
      <mat-icon class="cursor-pointer" *ngIf="search_key" (click)="clearFilter()"
        >close</mat-icon
      >
    </div>
  </div>
  <div class="relative overflow-x-auto">
    <div class="m-3">
      <div class="full-wrapper">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr class="sticky">
            <th scope="col">action type</th>
            <th scope="col">request for</th>
            <th scope="col">date</th>
            <th scope="col">Comments</th>
            <th class="text-center">Status</th>
            <th scope="col">Approve/Reject By</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of item_list; let i = index">
            <tr>
             
              <td>{{ item?.display_action_type }}</td>
              <td>
                  {{ item?.request_for }}
                <!-- <ng-container
                  *ngIf="
                    item?.message?.length < 60 || showMore[i];
                    else shortContent
                  "
                >
                  {{ item?.message }}
                </ng-container>
                <ng-template #shortContent>
                  {{ item?.message.slice(0, 60) }}...
                </ng-template>
                <a
                  class="text-blue-600"
                  href="javascript:void(0)"
                  *ngIf="item?.message?.length >= 60"
                  (click)="showMore[i] = !showMore[i]"
                >
                  {{ showMore[i] ? "" : "read more" }}
                </a> -->
              </td>
              
              <td>{{ item?.created_at  | date : "dd-MM-yyyy HH:mm a"  }}</td>
              <td>
                <ng-container
                  *ngIf="
                    item?.comment?.length < 60 || showRemarksMore[i];
                    else shortRemarksContent
                  "
                >
                  {{ item?.comment }}
                </ng-container>
                <ng-template #shortRemarksContent>
                  {{ item?.comment.slice(0, 60) }}...
                </ng-template>
                <a
                  class="text-blue-600"
                  href="javascript:void(0)"
                  *ngIf="item?.comment?.length >= 60"
                  (click)="showRemarksMore[i] = !showRemarksMore[i]"
                >
                  {{ showRemarksMore[i] ? "" : "read more" }}
                </a>
              </td>
              <td class="text-center">
                <span [class]="item?.status">
                  {{ item?.status }}
                </span>
              </td>
              <td>
                {{item?.approved_by}}
              </td>
              <td class="text-center">
                <app-menu
                  [modalButtonText]="'Details'"
                  [modalButtonIcon]="'info'"
                  [modalItem]="permissions.includes('edit') ? item : null"
                  (initModal)="addItem($event)"
                ></app-menu>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!item_list?.length">
            <tr>
              <td class="text-center" colspan="7">No Items Found</td>
            </tr>
          </ng-container>
        </tbody>
        </table>
      </div>
      <ng-container>
        <pagination
          [pagination]="paginationOption"
          (pageChange)="onPageChange($event)"
        ></pagination>
      </ng-container>
    </div>
  </div>
  