<div class="table-wrapper">
  <table class="table-base">
    <thead>
      <tr class="sticky">
        <th scope="col" (click)="sort('id')" class="sortable">
          ID <span [class]="getSortIcon('id')"></span>
        </th>
        <th scope="col" (click)="sort('user.name')" class="sortable">
          Customer <span [class]="getSortIcon('user.name')"></span>
        </th>
        <th scope="col" (click)="sort('created_at')" class="sortable">
          Date <span [class]="getSortIcon('created_at')"></span>
        </th>
        <th scope="col" (click)="sort('order_status')" class="sortable">
          Status <span [class]="getSortIcon('order_status')"></span>
        </th>
        <th scope="col" (click)="sort('items')" class="sortable">
          Items <span [class]="getSortIcon('items')"></span>
        </th>
        <th scope="col" (click)="sort('grand_total')" class="sortable">
          Total <span [class]="getSortIcon('grand_total')"></span>
        </th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td (click)="orderDetails(item)">
            <a href="javascript:void(0)">{{ item?.id }}</a>
          </td>
          <td class="">
            <a>{{ item?.user?.name }}</a>
          </td>
          <td class="">
            {{ item?.created_at | date : "medium" }}
          </td>
          <td>
            <span
              [routerLink]="'/inventory/orders/' + item?.order_status"
              class="status-label cursor-pointer"
              [class]="item?.order_status"
            >
              {{ item?.order_status }}</span
            >
          </td>
          <td>{{ item?.order_items?.length }}</td>
          <td>
            {{ item?.grand_total | currency : "INR" }}
          </td>
          <td class="text-center">
            <app-menu
              [details]="'/inventory/orders/details/' + item?._id"
              [pick_order]="
                ['processing'].includes(item?.order_status)
                  ? '/inventory/orders/' + item?.order_status + '/' + item?._id
                  : ''
              "
            ></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="7">No Items Found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
