<div class="table-wrapper">
  <table class="table-base">
    <thead>
      <tr class="sticky">
        <th scope="col">ID</th>
        <th scope="col">Customer</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td (click)="orderDetails(item)">
            <a href="javascript:void(0)">{{ item?.id }}</a>
          </td>
          <td class="">
            <a>{{ item?.user?.name }}</a>
          </td>
          <td class="">
            {{ item?.created_at | date }}
          </td>
          <td (click)="orderDetails(item)">
            {{ item?.order_status }}
          </td>

          <td>
            {{ item?.grand_total | currency : "INR" }}
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="7">No Items Found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
