@if (modalItem || edit || details|| delete ) {

<mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu">more_vert</mat-icon>

<mat-menu #menu="matMenu">
  <ul class="actionlink">
    @if (modalItem) {
    <li>
      <button mat-menu-item (click)="initModal.next(modalItem)">
        <mat-icon>edit</mat-icon>
        <span class="ml-1">Edit</span>
      </button>
    </li>

    } @if (edit) {
    <li>
      <button mat-menu-item [routerLink]="edit">
        <mat-icon>edit</mat-icon>
        <span>Modify</span>
      </button>
    </li>
    } @if (details) {
    <li>
      <button mat-menu-item [routerLink]="details">
        <mat-icon>info</mat-icon>
        <span>Details</span>
      </button>
    </li>
    } @if (delete) {
    <li>
      <button mat-menu-item (click)="onDelete()">
        <mat-icon style="color: red" class="text-red-600">delete</mat-icon>
        <span>Delete</span>
      </button>
    </li>
    }
  </ul>
</mat-menu>
}
