<!-- <p>add-new-user works!</p> -->
<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="p-1 add-new-title sm:px-6">
            <h2
              class="flex justify-between items-center font-semibold text-white"
              id="slide-over-title"
            >
              {{ data?.id ? "Update" : "Add New" }} User
              <button color="warn" mat-dialog-close mat-icon-button>
                <mat-icon class="text-red-700">close</mat-icon>
              </button>
            </h2>
          </div>
          <div class="relative my-3 flex-1 px-4 sm:px-6">
            <form class="space-y-1" [formGroup]="formGroup">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Role
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'role_id',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <mat-select
                      placeholder="Select"
                      formControlName="role_id"
                      required
                    >
                      <ng-container *ngFor="let item of role_list">
                        <mat-option [value]="item?.id">{{
                          item?.display_name
                        }}</mat-option>
                      </ng-container>
                    </mat-select>
                    <!-- formControlName="role_id"
                                    matInput
                                    [class.is-invalid]="
                                      !Global.isInputValid(formGroup, 'role_id')
                                    "
                                    placeholder="Add Your Category"
                                  /> -->
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'role_id',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Name
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(formGroup, 'name', 'required')
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <input
                      formControlName="name"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'name')
                      "
                      placeholder="Add Your Name"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(formGroup, 'name', 'required')
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Email
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(formGroup, 'email', 'required')
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <input [readonly]="data?.id"
                      formControlName="email"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'email')
                      "
                      placeholder="Type email here"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(formGroup, 'email', 'required')
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Password
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'password',
                        'required'
                      )
                    "
                  >
                    *</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <input
                      [type]="toogleTextPassword ? 'text' : 'password'"
                      formControlName="password"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'password')
                      "
                      placeholder="Type Here"
                    />
                    <mat-icon (click)="toogleTextPassword=!toogleTextPassword" matSuffix>{{
                      toogleTextPassword ? "visibility" : "visibility_off"
                    }}</mat-icon>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'password',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Status
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'status',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <mat-select
                      placeholder="Select"
                      formControlName="status"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'status')
                      "
                    >
                      <mat-option value="active">Active</mat-option>
                      <mat-option value="inactive">Inactive</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'status',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div>
            <button
              (click)="submitUser()"
              [disabled]="formGroup.disabled"
              class="flex border w-full justify-center px-3 py-3 text-green-500"
            >
              {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
