<div>
    <form [formGroup]="formGroup">
        <div class="flex gap-3">
            <div class="w-[100%] bg-white p-3 rounded space-y-6">
                <div class="">
                    <input type="text" formControlName="title" [placeholder]="'Heading'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                </div>
                <div class="">
                    <textarea formControlName="description" [placeholder]="'Description'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                    </textarea>
                </div>
                <div class="">
                    <input type="text" formControlName="detail_link" [placeholder]="'Detail Link -'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                </div>
            </div>
        </div>
        <div class="grid grid-cols-5 gap-4" formArrayName="files">
            <button (click)="moreFiles.click()" class="border rounded flex justify-center items-center">
                <mat-icon class="me-1">add</mat-icon>Add New
            </button>
            <input type="file" (change)="selectFiles($event)" hidden #moreFiles>
            <ng-container *ngFor="
              let item of files.controls;
              let i = index;
            " [formGroupName]="i">
                <div class="relative p-4 border rounded">
                    <span class="absolute top-0 right-0">
                        <!-- <app-menu [modalItem]="'h'" [delete]="'h'"></app-menu> -->
                        <app-menu [delete]="item" (deleteItem)="deleteItem($event)"></app-menu>
                    </span>
                    <img class="block" [src]="item.value.preview_path" alt="" />
                </div>
            </ng-container>
        </div>
        <div class="flex justify-end gap-2">
            <div>
                <button class="ai-button" (click)="onSubmit()" [disabled]="formGroup.disabled">
                    {{formGroup.disabled ? "Please wait..." : (satsList?.images?.length ? "Update" : "Save") }}
                </button>
            </div>
            <!-- <div>
                <button class="ai-button">Cancel</button>
            </div> -->
        </div>
    </form>
</div>