<div>
    <form [formGroup]="formGroup">
        <div class="w-[100%] bg-white p-3 rounded space-y-6">
            <div class="">
                <input formControlName="heading_text_1" type="text" [placeholder]="'Heading*'"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                 <!-- <div *ngIf="heading_text_1?.errors?.['maxlength']" class="text-red-500">
                        Maximum {{ maxLength1 }} characters allowed.
                    </div>
                    <div class="text-gray-500">
                        {{ heading_text_1?.value.length }} / {{ maxLength1 }} characters
                    </div> -->
                    <div *ngIf="isSubmitted && heading_text_1?.errors?.['required']" class="text-red-500">
                        <b>Heading is required*</b> 
                    </div> 
            </div>
            <div class="">
                <input formControlName="heading_text_2" type="text" [placeholder]="'Sub heading*'"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                <!-- <div *ngIf="sec3_sub_heading?.errors?.['maxlength']" class="text-red-500">
                        Maximum {{ maxLength2 }} characters allowed.
                    </div>
                    <div class="text-gray-500">
                        {{ sec3_sub_heading?.value.length }} / {{ maxLength2 }} characters
                    </div> -->
                    <div *ngIf="isSubmitted && heading_text_2?.errors?.['required']" class="text-red-500">
                        <b> Sub heading is Required*</b>
                    </div> 
            </div>
            <div class="">
                <textarea formControlName="description" type="text" [placeholder]="'Description*'"
                class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea> 
                <!-- <div *ngIf="sec3_sub_heading?.errors?.['maxlength']" class="text-red-500">
                        Maximum {{ maxLength2 }} characters allowed.
                    </div>
                    <div class="text-gray-500">
                        {{ sec3_sub_heading?.value.length }} / {{ maxLength2 }} characters
                    </div>-->
                    <div *ngIf="isSubmitted && description?.errors?.['required']" class="text-red-500">
                       <b>Description is required*</b> 
                    </div> 
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="mb-3"></div>
        <div class="flex gap-3">
            <div class="w-2/5 grow">
                <div class="">
                    <input formControlName="gse_fleet_label_name" type="text" [placeholder]="'Heading'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <!-- <div *ngIf="sec3_main_heading?.errors?.['maxlength']" class="text-red-500">
                            Maximum {{ maxLength1 }} characters allowed.
                        </div>
                        <div class="text-gray-500">
                            {{ sec3_main_heading?.value.length }} / {{ maxLength1 }} characters
                        </div>
                        <div *ngIf="sec3_main_heading?.errors?.['required']" class="text-red-500">
                            Value Required
                        </div> -->
                </div>
                <div class="">
                    <input formControlName="gse_fleet_label_val" type="text" [placeholder]="'Count'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <!-- <div *ngIf="sec3_sub_heading?.errors?.['maxlength']" class="text-red-500">
                            Maximum {{ maxLength2 }} characters allowed.
                        </div>
                        <div class="text-gray-500">
                            {{ sec3_sub_heading?.value.length }} / {{ maxLength2 }} characters
                        </div>
                        <div *ngIf="sec3_sub_heading?.errors?.['required']" class="text-red-500">
                            Value Required
                        </div> -->
                </div>
            </div>
            <div class="w-2/5 grow">
                <div class="">
                    <input formControlName="tons_of_cargo_label_name" type="text" [placeholder]="'Heading'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <!-- <div *ngIf="sec3_main_heading?.errors?.['maxlength']" class="text-red-500">
                            Maximum {{ maxLength1 }} characters allowed.
                        </div>
                        <div class="text-gray-500">
                            {{ sec3_main_heading?.value.length }} / {{ maxLength1 }} characters
                        </div>
                        <div *ngIf="sec3_main_heading?.errors?.['required']" class="text-red-500">
                            Value Required
                        </div> -->
                </div>
                <div class="">
                    <input formControlName="tons_of_cargo_label_val" type="text" [placeholder]="'Count'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <!-- <div *ngIf="sec3_sub_heading?.errors?.['maxlength']" class="text-red-500">
                            Maximum {{ maxLength2 }} characters allowed.
                        </div>
                        <div class="text-gray-500">
                            {{ sec3_sub_heading?.value.length }} / {{ maxLength2 }} characters
                        </div>
                        <div *ngIf="sec3_sub_heading?.errors?.['required']" class="text-red-500">
                            Value Required
                        </div> -->
                </div>
            </div>
            <div class="w-2/5 grow">
                <div class="">
                    <input formControlName="employees_label_name" type="text" [placeholder]="'Heading'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <!-- <div *ngIf="sec3_main_heading?.errors?.['maxlength']" class="text-red-500">
                            Maximum {{ maxLength1 }} characters allowed.
                        </div>
                        <div class="text-gray-500">
                            {{ sec3_main_heading?.value.length }} / {{ maxLength1 }} characters
                        </div>
                        <div *ngIf="sec3_main_heading?.errors?.['required']" class="text-red-500">
                            Value Required
                        </div> -->
                </div>
                <div class="">
                    <input formControlName="employees_label_val" type="text" [placeholder]="'Count'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <!-- <div *ngIf="sec3_sub_heading?.errors?.['maxlength']" class="text-red-500">
                            Maximum {{ maxLength2 }} characters allowed.
                        </div>
                        <div class="text-gray-500">
                            {{ sec3_sub_heading?.value.length }} / {{ maxLength2 }} characters
                        </div>
                        <div *ngIf="sec3_sub_heading?.errors?.['required']" class="text-red-500">
                            Value Required
                        </div> -->
                </div>

            </div>
        </div>
        <div class="mb-3"></div>
        <div class="mb-3"></div>
        <div class="flex justify-end gap-2">
            <div>
                <!-- {{formGroup | json }} -->
                <button class="ai-button" (click)=onSubmit() [disabled]="formGroup.disabled">
                    {{formGroup.disabled ? "Please wait..." : (formGroup.value.id ? "Update" : "Save") }}
                </button>
            </div>
            <!-- <div>
                <button class="ai-button"> Cancel</button>
            </div> -->
        </div>

    </form>
</div>