<div
  *ngIf="breadcrumbs?.length"
  class="flex flex-col md:flex-row md:items-center md:justify-between gap-3 my-3 px-5"
>
  <!-- Left Section -->
  <div>
    <h2 *ngIf="pageTitle" class="text-xl font-semibold text-black mb-1">
      {{ pageTitle }}
    </h2>
    <nav class="text-sm text-gray-500">
      <ol class="flex space-x-2 items-center">
        <li>
          <a routerLink="/" class="text-gray-700 hover:underline">
            <mat-icon
              class="!text-base !leading-none !w-5 !h-5 text-gray-700 align-middle"
              >home</mat-icon
            >
          </a>
        </li>
        <li class="mx-1">/</li>
        <ng-container *ngFor="let item of breadcrumbs; let l = last">
          <li>
            <a
              class="font-medium flex items-center text-gray-700 bread-crumb transition"
              [routerLink]="[item?.url]"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="bread-crumb-active"
            >
              {{ item?.label }}
            </a>
          </li>
          <li *ngIf="!l" alt="arrow" class="mx-1">/</li>
        </ng-container>
      </ol>
    </nav>
  </div>

  <!-- Right Section -->
  <div class="flex flex-wrap items-center gap-3">
    <button
      *ngIf="showAddBtn"
      matTooltip="Add New Brand"
      class="btn-add"
      (click)="eventsService.triggerAddClick()"
    >
      <mat-icon class="text-xs">add</mat-icon>
      Add New
    </button>
    <button class="btn-collapse" (click)="upderHeaderVisibility()">
      <mat-icon class="text-xs">{{
        navService.headerOpen
          ? "keyboard_double_arrow_up"
          : "keyboard_double_arrow_down"
      }}</mat-icon>
    </button>
  </div>
</div>
