<div class="main-row">
  <div class="flex px-2">
    Showing {{ (pagination.page - 1) * pagination.limit + 1 }} -
    {{
      pagination.page == pagination.total_pages
        ? pagination.total_records
        : pagination.page * pagination.limit
    }}
    of <b class="mx-1">{{ pagination.total_records }}</b> records.
  </div>
  <div class="pagination">
    <button class="first" [disabled]="value === 1" (click)="selectPage(1)">
      <<
    </button>
    <button
      class="next"
      [disabled]="value === 1"
      (click)="selectPage(value - 1)"
    >
      <
    </button>
    <button
      *ngFor="let page of visiblePages"
      [class]="value === page ? 'selected' : ''"
      (click)="selectPage(page)"
    >
      {{ page }}
    </button>
    <button
      class="next"
      [disabled]="value === pagination?.total_pages"
      (click)="selectPage(value + 1)"
    >
      >
    </button>
    <button
      class="first"
      [disabled]="value === pagination?.total_pages"
      (click)="selectPage(pagination?.total_pages)"
    >
      >>
    </button>
  </div>
</div>
