.pagination-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
  background-color: #e5e7eb;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  .pagination-info {
    font-size: 14px;
    color: #555;
  }

  .pagination-controls {
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    align-items: center;

    button[mat-button] {
      min-width: 36px;
    }
  }
}
