<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="p-1 add-new-title sm:px-6">
            <h2 class="flex mb-0 justify-between items-center font-semibold text-white"
                 id="slide-over-title">
                  Add New Question
                  <button color="warn" mat-dialog-close mat-icon-button>
                    <mat-icon class="text-red-700">close</mat-icon>
                  </button>
            </h2>
          </div>
          <div class="relative my-3 flex-1 px-4 sm:px-6">
            <form class="space-y-6" [formGroup]="faqForm">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">Category
                  <span
                    class="text-red-500" *ngIf="Global.isInputRuleAvailable(faqForm,'category','required')">
                  *</span>
                </label>
                <div class="mt-2">
                  <mat-form-field>
                      <mat-select placeholder="Select" formControlName="category" required>
                        <mat-option>Category1</mat-option>
                        <mat-option>Category2</mat-option>
                      </mat-select>
                      <!-- formControlName="category"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(faqForm, 'category')
                      "
                      placeholder="Add Your Category"
                    /> -->
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(faqForm, 'category', 'required')"
                        >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
                
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">Question
                  <span
                    class="text-red-500" *ngIf="Global.isInputRuleAvailable(faqForm,'question','required')">
                  *</span>
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <input
                      formControlName="question"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(faqForm, 'question')
                      "
                      placeholder="Add Your Question"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(faqForm, 'question', 'required')"
                        >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">Answer*
                  <!-- <span class="text-red-500" 
                  *ngIf="Global.isInputRuleAvailable(faqForm,'answer','required')">
                  *</span> -->
                </label>
                <div class="mt-2">
                  <!-- <mat-form-field> -->
                    <!-- <textarea
                      formControlName="answer"
                      matInput
                      [class.is-invalid]="!Global.isInputValid(faqForm, 'answer')"
                      placeholder="Add Your Answer"
                    /></textarea>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(faqForm, 'answer', 'required') ">
                      This field is required
                    </mat-error> -->
                    <mat-form-field appearance="fill">
                      <textarea matInput formControlName="comment" placeholder="Add Your Answer"></textarea>
                      <!-- <mat-error *ngIf="isFieldValid('comment')">Please Enter Remarks
                      </mat-error> -->
                    </mat-form-field>
                  <!-- </mat-form-field> -->
                </div>
              </div>
            </form>
          </div>
          <button
            (click)="submitLogin()"
            [disabled]="faqForm.disabled"
            class="save-button"
          >
            {{ faqForm.disabled ? "Please wait..." : "Save & Continue" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
