<div class="relative overflow-x-auto">
  <div class="m-3 flex justify-between items-center">
    <div class="flex flex-col items-start">
      <span class="text-base font-medium">Pages List</span>
      <span class="block text-gray-500 text-xs"
        >{{ paginationOption.total_records }} pages added</span
      >
    </div>
    <button
      *ngIf="permissions.includes('add')"
      (click)="addItem()"
      class="ai-button"
    >
      + Add New
    </button>
  </div>
  <hr />
  <div class="m-3">
    <div class="table-wrapper">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr class="sticky">
            <th scope="col">Page Title</th>
            <th scope="col">Publish Date & Time</th>
            <th scope="col">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of item_list">
            <tr>
              <td
                scope="row"
                class="font-medium text-gray-900 whitespace-nowrap"
              >
                {{ item?.title }}
              </td>
              <td>{{ item?.created_at | date : "dd-MM-yy" }}</td>
              <td>{{ item?.status }}</td>
              <td class="text-center">
                <app-menu
                  [modalItem]="permissions.includes('edit') ? item : null"
                  (initModal)="addItem($event)"
                  [delete]="permissions.includes('delete') ? item : null"
                  (deleteItem)="deleteItem($event)"
                ></app-menu>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!item_list?.length">
            <tr>
              <td class="text-center" colspan="4">No Items Found</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <ng-container>
      <pagination
        [pagination]="paginationOption"
        (pageChange)="onPageChange($event)"
      ></pagination>
    </ng-container>
  </div>
</div>
