<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-4xl">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <h2 class="header" id="slide-over-title">
            {{ data ? "Update" : "New" }} Product
            <button color="warn" mat-dialog-close mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          </h2>
          <div class="add-wrapper relative my-3 flex-1 px-4 sm:px-6">
            <form class="space-y-1" [formGroup]="formGroup">
              <div class="grid grid-cols-2 gap-2">
                <div>
                  <mat-label>
                    Brand
                    <span
                      class="text-red-500"
                      *ngIf="
                        Global.isInputRuleAvailable(
                          formGroup,
                          'brand',
                          'required'
                        )
                      "
                      >*</span
                    >
                  </mat-label>
                  <ng-select
                    placeholder="Select"
                    formControlName="brand"
                    matInput
                    [class.is-invalid]="
                      !Global.isInputValid(formGroup, 'brand')
                    "
                    (scrollToEnd)="loadMoreBrands()"
                    (search)="brandsSearchSubject.next($event)"
                  >
                    <ng-option
                      *ngFor="let brand of brands"
                      [value]="brand?._id"
                    >
                      <div class="flex items-center">
                        <img
                          *ngIf="brand?.image?.url"
                          [src]="brand?.image?.url"
                          [alt]="brand?.image?.alt"
                          class="h-10 mr-2"
                        />
                        {{ brand?.name }}
                      </div>
                    </ng-option>
                  </ng-select>
                  <mat-error
                    *ngIf="
                      !Global.isInputRuleValid(formGroup, 'brand', 'required')
                    "
                  >
                    This field is required
                  </mat-error>
                </div>
                <div>
                  <mat-label>
                    Category
                    <span
                      class="text-red-500"
                      *ngIf="
                        Global.isInputRuleAvailable(
                          formGroup,
                          'category',
                          'required'
                        )
                      "
                      >*</span
                    >
                  </mat-label>
                  <ng-select
                    placeholder="Select"
                    formControlName="category"
                    matInput
                    [class.is-invalid]="
                      !Global.isInputValid(formGroup, 'category')
                    "
                    (scrollToEnd)="loadMoreCategories()"
                    (search)="categorySearchSubject.next($event)"
                    [multiple]="true"
                  >
                    <ng-option
                      *ngFor="let category of categories"
                      [value]="category?._id"
                    >
                      <div class="flex items-center">
                        <img
                          *ngIf="category?.image?.url"
                          [src]="category?.image?.url"
                          [alt]="category?.image?.alt"
                          class="h-10 mr-2"
                        />
                        {{ category?.name }}
                      </div></ng-option
                    >
                  </ng-select>
                  <mat-error
                    *ngIf="
                      !Global.isInputRuleValid(
                        formGroup,
                        'category',
                        'required'
                      )
                    "
                  >
                    This field is required
                  </mat-error>
                </div>
              </div>
              <mat-form-field>
                <mat-label
                  >Name
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(formGroup, 'name', 'required')
                    "
                    >*</span
                  >
                </mat-label>
                <input
                  formControlName="name"
                  matInput
                  [class.is-invalid]="!Global.isInputValid(formGroup, 'name')"
                  placeholder="Type Here"
                />
                <mat-error
                  *ngIf="
                    !Global.isInputRuleValid(formGroup, 'name', 'required')
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>

              <div>
                <mat-label
                  >Description
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'description',
                        'required'
                      )
                    "
                    >*</span
                  >
                </mat-label>
                <div
                  class="block w-full border rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 text-area-sec terms-height"
                  [class.outline-red-500]="
                    !Global.isInputValid(formGroup, 'description')
                  "
                >
                  <ngx-editor-menu [editor]="editor" [toolbar]="Global.toolbar">
                  </ngx-editor-menu>
                  <div class="inner-height" [formGroup]="formGroup">
                    <ngx-editor
                      [editor]="editor"
                      formControlName="description"
                      [placeholder]="'Add Description'"
                    ></ngx-editor>
                  </div>
                </div>
                <mat-error
                  class="my-2"
                  *ngIf="
                    !Global.isInputRuleValid(
                      formGroup,
                      'description',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </div>

              <mat-form-field>
                <mat-label
                  >Status
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'status',
                        'required'
                      )
                    "
                    >*</span
                  >
                </mat-label>
                <mat-select
                  placeholder="Select"
                  formControlName="status"
                  matInput
                  [class.is-invalid]="!Global.isInputValid(formGroup, 'status')"
                >
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    !Global.isInputRuleValid(formGroup, 'status', 'required')
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label
                  >Meta Title
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'meta_title',
                        'required'
                      )
                    "
                    >*</span
                  >
                </mat-label>
                <input
                  formControlName="meta_title"
                  matInput
                  [class.is-invalid]="
                    !Global.isInputValid(formGroup, 'meta_title')
                  "
                  placeholder="Type Here"
                />
                <mat-error
                  *ngIf="
                    !Global.isInputRuleValid(
                      formGroup,
                      'meta_title',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label
                  >Meta Description
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'meta_description',
                        'required'
                      )
                    "
                    >*</span
                  >
                </mat-label>
                <textarea
                  formControlName="meta_description"
                  matInput
                  [class.is-invalid]="
                    !Global.isInputValid(formGroup, 'meta_description')
                  "
                  placeholder="Type Here"
                ></textarea>
                <mat-error
                  *ngIf="
                    !Global.isInputRuleValid(
                      formGroup,
                      'meta_description',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label
                  >Meta Keywords
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'meta_keywords',
                        'required'
                      )
                    "
                    >*</span
                  >
                </mat-label>
                <textarea
                  formControlName="meta_keywords"
                  matInput
                  [class.is-invalid]="
                    !Global.isInputValid(formGroup, 'meta_keywords')
                  "
                  placeholder="Type Here"
                ></textarea>
                <mat-hint>Comma-separated SEO keywords</mat-hint>
                <mat-error
                  *ngIf="
                    !Global.isInputRuleValid(
                      formGroup,
                      'meta_keywords',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>
              <ng-container>
                <div class="grid grid-cols-2 gap-2">
                  <img
                    *ngFor="let img of data?.images"
                    class="rounded-md w-full bg-gray-200 object-contain h-60"
                    [src]="img?.url"
                    alt=" Media"
                  />
                  <img
                    *ngFor="let img of files_previews?.value"
                    class="rounded-md w-full bg-gray-200 object-contain h-60"
                    [src]="img?.url"
                    alt=" Media"
                  />
                </div>
              </ng-container>
              <div class="h-60 border rounded">
                <div
                  class="w-full h-full rounded flex items-center justify-center relative"
                >
                  <span
                    *ngIf="formGroup.value.file_preview"
                    class="absolute right-2 top-2"
                  >
                    <app-menu
                      [modalItem]="true"
                      (initModal)="mediaFile.click()"
                    ></app-menu>
                  </span>
                  <ng-container *ngIf="formGroup.value.file_preview">
                    <img
                      class="rounded-md w-full bg-gray-200 object-contain h-60"
                      [src]="formGroup.value.file_preview"
                      alt=" Media"
                    />
                  </ng-container>
                  <ng-container *ngIf="!formGroup.value.file_preview">
                    <div
                      class="flex flex-col items-center justify-center"
                      (click)="mediaFile.click()"
                    >
                      <img src="assets/placeholder-image-outline.png" alt="" />
                      <div>Upload Media File Here</div>
                      <!-- <div class="text-center text-red-600 font-normal italic">
                            Accepts the following image types: .png, .jpg.
                          </div> -->
                    </div>
                  </ng-container>
                </div>
                <div class="w-full text-sm pt-1 text-center text-red-500">
                  <b>Note:</b> Upload files in .png, .jpg, .jpeg formats only.
                  Recommended file size: 500 pixels in width and 500 pixels in
                  height.
                </div>
                <input
                  multiple
                  type="file"
                  #mediaFile
                  hidden
                  (change)="
                    Global.onFileSelectedMultiple(
                      formGroup,
                      $event,
                      'images',
                      toastr,
                      ['image/jpeg', 'image/png'],
                      'files_previews'
                    )
                  "
                />
              </div>
            </form>
          </div>
          <div class="p-1">
            <button
              (click)="onSubmit()"
              [disabled]="formGroup.disabled"
              class="btn-primary"
            >
              {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
