<div class="">
  <div class="flex items-center h-12 border w-full">
    <div class="flex shrink-0 items-center px-2" [class]="isNavOpen ? '' : 'w-full justify-center'">
      <img class="h-10 w-auto" src="assets/{{ isNavOpen ? 'logo.png' : 'sats.png' }}" alt="Your Company" />
    </div>
  </div>
  <div class="mx-auto max-w-7xl p-3">
    <nav [class]="isNavOpen ? 'divide-y divide-blue-200' : 'w-full justify-center'"
      class="flex-auto text-sm/6 overflow-hidden">
      <ul class="mt-2 sidebarMenu">
        <ng-container *ngFor="let item of itemList">
          <li class="px-2">
            <span class="text-sm block">{{ item?.title }}</span>
            <small *ngIf="isNavOpen" class="text-gray-500 text-xs block">{{
              item?.description
              }}</small>
          </li>
          <ng-container *ngFor="let menu of item?.menuItems">
            <a [routerLink]="menu?.url" [class]="isNavOpen ? 'gap-x-6' : ''" 
              routerLinkActive="text-red-500 active"
              [routerLinkActiveOptions]="{ exact: menu?.exact ?? false }"
              class="group items-center relative flex mb-2 hover:bg-gray-50">
              <div class="w-full flex justify-between items-center">
                <div class="flex items-center">
                  <div class="mt-1 flex size-11 flex-none items-center justify-center">
                    <ng-container *ngIf="menu?.image_path;else matIcon">
                      <img [src]="menu?.image_path" alt="Icon" />
                    </ng-container>
                    <ng-template #matIcon>
                      <mat-icon class="">{{ menu?.icon }}</mat-icon>
                    </ng-template>
                  </div>
                  <span *ngIf="isNavOpen" class="font-medium leading-4">
                    {{ menu?.label }}
                  </span>
                </div>
                <mat-icon *ngIf="isNavOpen">chevron_right</mat-icon>
              </div>
            </a>
            <ng-container *ngIf="menu?.childMenuItems?.length && isNavOpen">
              <div class="ml-4 child-menu-list" [ngClass]="{'block': isActiveChild(), 'hidden': !isActiveChild()}">
                <ul class="child-menu">
                  <ng-container *ngFor="let childMenu of menu?.childMenuItems">
                    <li class="child-item" routerLinkActive=" active" [routerLink]="childMenu?.url"
                      [routerLinkActiveOptions]="{
                        exact: childMenu?.exact ?? false
                      }">
                      <a class="block font-light px-2">
                        {{ childMenu?.label }}</a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ul>
    </nav>
  </div>
</div>