<!-- <p>home-progress-section-info-card works!</p> -->
<div>
    <form [formGroup]="formGroup">
            <div class="w-[100%] bg-white p-3 rounded space-y-6">
                <div class="">
                    <input type="text" formControlName="title" [placeholder]="'Title*'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" />
                    <div *ngIf="isSubmitted && title?.errors?.['required']" class="text-red-500">
                        <b> Heading is required* </b>
                    </div>
                    <!-- <div *ngIf="title?.errors?.['maxlength']" class="text-red-500">
                        Maximum {{ maxLength1 }} characters allowed.
                    </div>
                    <div class="text-gray-500">
                        <div>Text limit: {{ maxLength1 }} characters. Please enter your text within
                            this limit.</div>
                        {{ title?.value.length }} - {{ maxLength1 }} characters
                    </div> -->
                </div>
                <div class="">
                    <textarea formControlName="description" [placeholder]="'Description*'"
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"></textarea>
                </div>

                <div class="">
                    <ng-select  formControlName="gallery" [multiple]="true" 
                    (change)="onGalleryChange($event)"
                    placeholder="Select Gallery Items (up to 2)">
                        <!-- <ng-template ng-option-tmp let-item="item">
                            <div class="option-item">
                              <img [src]="item.file_path" alt="{{ item.title }}" style="width: 30px; height: 30px; margin-right: 10px;" />
                              {{ item.title }}
                            </div>
                          </ng-template> -->
                          <ng-option *ngFor="let item of galleryList" [value]="item.id">
                            <div class="option-item">
                                <img [src]="item.file_path" alt="{{ item.title }}" style="width: 30px; height: 30px; margin-right: 10px;" />
                                {{ item.title }}
                              </div>
                          </ng-option>
                    </ng-select>
                    <div *ngIf="confirmationMessage" class="text-red-500 mt-2">
                        <b>{{ confirmationMessage }}</b> 
                    </div>
    
                </div>
                <div class="mb-3"></div>

                <div class="flex justify-end gap-2">
                    <div>
                        <button class="ai-button" (click)="onSubmit()" [disabled]="formGroup.disabled"> 
                            {{formGroup.disabled ? "Please wait..." : (formGroup.value.id ? "Update" : "Save") }}
                        </button>
                    </div>
                    <!-- <div>
                        <button class="ai-button">Cancel</button>
                    </div> -->
                </div>
            </div>
     
    </form>
</div>
