<div class="absolute flex justify-end right-5 top-14">
  <div class="flex">
    <button
      (click)="addItem()"
      type="button"
      class="px-2 py-1 outline-1 text-xs font-medium text-center inline-flex items-center border-red-500 text-red-500 border rounded-full"
    >
      <mat-icon class="text-xs font-medium">add</mat-icon>
      Add New Opening
    </button>
  </div>
</div>
<div class="career-wrapper system-bg">
  <div class="grid grid-cols-3 gap-2">
    <ng-container *ngFor="let item of item_list">
      <div class="h-64 relative p-3 border rounded bg-white">
        <span class="absolute top-0 right-0">
          <app-menu
            [modalItem]="item"
            (initModal)="addItem($event)"
            [delete]="item"
            (deleteItem)="deleteItem($event)"
          ></app-menu>
        </span>

        <div class="mt-1">
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
            >#{{ item?.job_no }}</span
          >
          <span class="mx-1 text-xs text-{{item?.job_status=='open'?'green':'gray'}}-600">{{ item?.job_status | titlecase }}</span>
        </div>
        <div class="py-1 text-lg font-bold">{{ item?.title }}</div>
        <div class="flex items-center">
          {{ item?.work_mode }}
          <span class="mx-2 font-extrabold">.</span>
          {{ item?.language_known }}
        </div>
        <div class="flex mt-2">
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
          >
            {{ item?.experience_level }}</span
          >
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
            >{{ item?.year_of_experience }}+ Years Experience</span
          >
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
            >Vacancy <span class="ml-1 text-red-600">{{ item?.no_of_vacancy }}</span></span
          >
        </div>
        <div class="flex my-2">
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
            >
              <mat-icon  class=" text-red-600 text-base">location_on</mat-icon>
           {{ item?.job_location }}</span
          >
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
            >{{ item?.work_mode }}</span
          >
          <span
            class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
            >{{ item?.job_type }}</span
          >
        </div>

        <span
          class=" text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-gray-600 me-2"
          >{{ item?.salary }} | {{ item?.currency_name }}</span
        >
        <div class="flex justify-between mt-3">
          <span
            class="bg-{{
              item?.job_status == 'open' ? 'green' : 'gray'
            }}-100 text-{{
              item?.job_status == 'open' ? 'green' : 'gray'
            }}-700 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-full border border-{{
              item?.job_status == 'open' ? 'green' : 'gray'
            }}-600 me-2"
            >{{ item?.no_of_applicant }} No. Of Applications</span
          >
          <a
            [routerLink]="['/career/details/' + item?.id]"
            class="font-xs text-red-600 underline"
            >View Details</a
          >
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!item_list?.length">
    <div class="h-[85%] flex justify-center items-center">
      <span>No Items Found</span>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="item_list?.length">
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
