<button type="button" class="dialog-btn-close" (click)="closeModal()"></button>
<mat-dialog-content>
  <div
    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
  >
    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div
          class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-{{
            data?.content_status === 'rejected' ? 'red' : 'green'
          }}-100 sm:mx-0 sm:size-10"
        >
          <svg
            *ngIf="data?.content_status === 'rejected'"
            class="size-6 text-red-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
            />
          </svg>
          <svg
            *ngIf="data?.content_status === 'approved'"
            class="size-6 text-green-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 12l4 4L19 7"
            />
          </svg>
        </div>
        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
          <h3 class="text-base font-semibold text-gray-900" id="modal-title">
            {{ data?.content_status === "rejected" ? "Reject" : "Approve" }}
            Content
          </h3>
        </div>
      </div>
      <div class="mt-2" [formGroup]="formGroup">
        <div>
          <div class="mt-2">
            <mat-form-field>
              <textarea
                formControlName="comment"
                matInput
                [class.is-invalid]="!Global.isInputValid(formGroup, 'comment')"
                [placeholder]="
                  Global.isInputRuleAvailable(formGroup, 'comment', 'required')
                    ? 'Type Comment Here *'
                    : 'Type Comment Here'
                "
              ></textarea>
              <mat-error
                *ngIf="
                  !Global.isInputRuleValid(formGroup, 'comment', 'required')
                "
              >
                This field is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
      <button
        (click)="onConfirm()"
        type="button"
        class="inline-flex w-full justify-center rounded-md bg-{{
          data?.content_status === 'rejected' ? 'red' : 'green'
        }}-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-{{
          data?.content_status === 'rejected' ? 'red' : 'green'
        }}-500 sm:ml-3 sm:w-auto"
      >
        {{ data?.content_status === "rejected" ? "Reject" : "Approve" }}
      </button>
      <button
        (click)="closeModal()"
        type="button"
        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
      >
        Cancel
      </button>
    </div>
  </div>
</mat-dialog-content>
