<!-- <p>home works!</p> -->
<div class="flex gap-3 bg-gray">
    <div class="w-4/5">
        <!-- <div class="h-60">
            <app-thumbnail></app-thumbnail>
        </div>
        <div class="mb-3"></div> -->
        
        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                Landing Page / Home Page Section2 Information 
            </div>
             <app-home-section2-landing-info-card></app-home-section2-landing-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                Landing Page / Home Page Section3 Information 
            </div>
             <app-home-section3-landing-info-card></app-home-section3-landing-info-card>
        </div>
        <div class="mb-3"></div>
        
        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                Populer Service & Solution 
            </div>
            <app-home-section4-landing-service-info-card></app-home-section4-landing-service-info-card>
        </div>
        <div class="mb-3"></div>
        
        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                Partnering for Progress and Profit
            </div>
            <app-partners></app-partners>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                Your Roadmap To Business Excellence
            </div>
            <app-about-roadmap-info-card></app-about-roadmap-info-card>
        </div>
        <div class="mb-3"></div>

    </div>
    <div class="w-1/5">
        <app-tagged-section></app-tagged-section>
    </div>
</div>