<div class="flex gap-3 bg-gray">
    <div class="w-full">
        <!-- <div class="h-60">
            <app-thumbnail></app-thumbnail>
        </div>
        <div class="mb-3"></div> -->
        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                <h2> Hero Information</h2>
            </div>
            <app-home-hero-section-landing-info-card></app-home-hero-section-landing-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
                <h2> About ANCTPL</h2>
            </div>
            <app-home-section2-landing-info-card></app-home-section2-landing-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>More About ANCTPL</h2>
            </div>
            <app-home-section3-landing-info-card></app-home-section3-landing-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
             <h2> Services</h2>
            </div>
            <app-home-section4-landing-service-info-card></app-home-section4-landing-service-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2> Media </h2>
            </div>
            <app-home-media-info-card></app-home-media-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>  Success Stories</h2>
            </div>
            <app-home-success-info-page></app-home-success-info-page>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>  About Air India SATS -1</h2>
            </div>
            <app-home-sats-info></app-home-sats-info>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>  About Air India SATS -2 </h2>
            </div>
            <app-home-more-sats-info></app-home-more-sats-info>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>  Our Progress </h2>
            </div>
            <app-home-progress-section-info-card></app-home-progress-section-info-card>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>  Testimonials </h2>
            </div>
            <app-home-testimonials-info></app-home-testimonials-info>
        </div>
        <div class="mb-3"></div>

        <div class="bg-white p-3 rounded">
            <div class="text-center font-medium text-sm text-black mb-3">
            <h2>  Career Opportunity</h2>
            </div>
            <app-home-career-section-info-card></app-home-career-section-info-card>
        </div>
        <div class="mb-3"></div>

    </div>
    <!-- <div class="w-1/5">
        <app-tagged-section></app-tagged-section>
    </div> -->
</div>