<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="assets/logo.png" alt="Logo" />
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
    >
      Forgot Password
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-1" [formGroup]="loginForm">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-900"
          >Email
          <span
            class="text-red-500"
            *ngIf="Global.isInputRuleAvailable(loginForm, 'email', 'required')"
            >*</span
          ></label
        >
        <div class="mt-2">
          <mat-form-field>
            <input
              formControlName="email"
              matInput
              [readonly]="otpSend"
              [class.is-invalid]="!Global.isInputValid(loginForm, 'email')"
              placeholder="Type Here"
            />

            <mat-error
              *ngIf="!Global.isInputRuleValid(loginForm, 'email', 'required')"
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="verifyCode; else NotVerified">
        <label class="block text-sm/6 font-medium text-gray-900"
          >Password
          <span
            class="text-red-500"
            *ngIf="
              Global.isInputRuleAvailable(loginForm, 'password', 'required')
            "
            >*</span
          ></label
        >
        <div class="mt-2">
          <mat-form-field>
            <input
              [type]="visibiltyToogle[1] ? 'text' : 'password'"
              formControlName="password"
              matInput
              [class.is-invalid]="!Global.isInputValid(loginForm, 'password')"
              placeholder="Type Here"
            />
            <mat-icon
              (click)="visibiltyToogle[1] = !visibiltyToogle[1]"
              matSuffix
              >{{
                !visibiltyToogle[1] ? "visibility_off" : "visibility"
              }}</mat-icon
            >
            <mat-error
              *ngIf="
                !Global.isInputRuleValid(loginForm, 'password', 'required')
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-sm text-right" style="margin-bottom: 10px">
          <a
            routerLink="/auth/login"
            class="cursor-pointer hover font-semibold text-red-600 hover:text-red-500"
            >Sign In?</a
          >
        </div>
        <div>
          <button
            (click)="changePassword()"
            [disabled]="loginForm.disabled"
            class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
          >
            {{ loginForm.disabled ? "Please wait..." : "Change Password" }}
          </button>
        </div>
      </ng-container>
      <ng-template #NotVerified>
        <ng-container *ngIf="otpSend">
          <div>
            <label for="email" class="block text-sm/6 font-medium text-gray-900"
              >Verification Code
              <span
                class="text-red-500"
                *ngIf="
                  Global.isInputRuleAvailable(
                    loginForm,
                    'verification_code',
                    'required'
                  )
                "
                >*</span
              ></label
            >
            <div class="mt-2">
              <mat-form-field>
                <input
                  formControlName="verification_code"
                  matInput
                  [class.is-invalid]="
                    !Global.isInputValid(loginForm, 'verification_code')
                  "
                  placeholder="Type Here"
                />

                <mat-error
                  *ngIf="
                    !Global.isInputRuleValid(
                      loginForm,
                      'verification_code',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </ng-container>

        <!-- <div class="flex items-center justify-between"> -->
        <div class="text-sm text-right" style="margin-bottom: 10px">
          <a
            routerLink="/auth/login"
            class="cursor-pointer hover font-semibold text-red-600 hover:text-red-500"
            >Sign In?</a
          >
        </div>
        <div *ngIf="!otpSend">
          <button
            (click)="sendOtp()"
            [disabled]="loginForm.disabled"
            class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
          >
            {{ loginForm.disabled ? "Please wait..." : "Reset Password" }}
          </button>
        </div>
        <div *ngIf="otpSend">
          <button
            (click)="verifyResetCode()"
            [disabled]="loginForm.disabled"
            class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
          >
            {{ loginForm.disabled ? "Please wait..." : "Verify Codes" }}
          </button>
        </div>
      </ng-template>
    </form>

    <!-- <p class="mt-10 text-center text-sm/6 text-gray-500">
          Not a member?
          <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Signup</a>
        </p> -->
  </div>
</div>
