<!-- <p>new-hero-section works!</p> -->
<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="p-1 add-new-title sm:px-6">
            <h2
              class="flex justify-between items-center font-semibold text-white"
              id="slide-over-title"
            >
              <!-- Hero Information -->
              {{ data ? "Update Hero Information" : "Add Hero Information" }}
              <button color="warn" mat-dialog-close mat-icon-button>
                <mat-icon class="text-red-700">close</mat-icon>
              </button>
            </h2>
          </div>
          <div
            style="height: calc(100vh - 200px); overflow-y: auto"
            class="relative my-3 flex-1 px-4 sm:px-6"
          >
            <form class="space-y-1" [formGroup]="homeHeroSecForm">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Heading
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        homeHeroSecForm,
                        'hero_sec_main_heading',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <textarea
                      formControlName="hero_sec_main_heading"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(
                          homeHeroSecForm,
                          'hero_sec_main_heading'
                        )
                      "
                      placeholder="Type Here"
                    ></textarea>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          homeHeroSecForm,
                          'hero_sec_main_heading',
                          'required'
                        )
                      "
                    >
                      Heading is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          homeHeroSecForm,
                          'hero_sec_main_heading',
                          'maxlength'
                        )
                      "
                    >
                      Maximum heading length should be
                      {{ maxLength1 }} characters.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Sub Heading
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        homeHeroSecForm,
                        'hero_sec_sub_heading',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <textarea
                      formControlName="hero_sec_sub_heading"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(
                          homeHeroSecForm,
                          'hero_sec_sub_heading'
                        )
                      "
                      placeholder="Type Here"
                    ></textarea>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          homeHeroSecForm,
                          'hero_sec_sub_heading',
                          'required'
                        )
                      "
                    >
                      Sub Heading is required
                    </mat-error>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          homeHeroSecForm,
                          'hero_sec_main_heading',
                          'maxlength'
                        )
                      "
                    >
                      Maximum sub heading length should be
                      {{ maxLength2 }} characters.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="border relative">
                <div
                  class="w-full bg-white p-5 h-full rounded flex items-center justify-center"
                >
                  <div class="flex flex-col items-center justify-center">
                    <span
                      class="absolute top-0 right-0"
                      *ngIf="imagePreview || videoPreview"
                    >
                      <app-menu
                        [modalItem]="true"
                        (initModal)="chooseFile.click()"
                      ></app-menu>
                    </span>
                    <ng-container *ngIf="!imagePreview && !videoPreview">
                      <label
                        (click)="chooseFile.click()"
                        class="flex flex-col items-center justify-center"
                      >
                        <img
                          src="assets/placeholder-image-outline.png"
                          alt="Upload Image"
                        />
                        <div
                          *ngIf="!isSubmitted || !hasError || !hasSzError"
                          class="text-center text-red-600 font-normal italic"
                        >
                          <!-- <div>Upload Image Here</div> -->
                          <div style="color: red">
                            <!-- Minimum size required: 1920 width x 640 height -->
                            Recommended file size: 1920 pixels in width and 640 pixels in height.
                          </div>
                          <div class="mb-3"></div>
                          <div class="mb-3"></div>
                          <div style="color: red">
                            Upload files in .png, .jpg, .jpeg formats only
                          </div>
                        </div>

                        <div
                          *ngIf="isSubmitted || hasError || hasSzError"
                          class="text-center text-red-600 font-normal italic"
                        >
                          <div *ngIf="hasError">
                            <b>{{ errorMessage1 }}</b>
                          </div>
                          <div *ngIf="hasVdError">
                            <b>{{ errorMessage2 }}</b>
                          </div>
                          <div *ngIf="hasSzError">
                            <b>{{ errorMessage3 }}</b>
                          </div>

                          <!-- Minimum size required: 1920 width x 640 height -->
                          <!-- Only .png, .jpg, .jpeg .gif format image upload here -->
                        </div>
                        <!-- <div *ngIf="hasError"
                                                    class="text-center text-red-600 font-normal italic">
                                                    Only .png, .jpg, .jpeg format image upload here
                                                </div> -->
                      </label>
                    </ng-container>
                    <div *ngIf="imagePreview" class="mt-3">
                      <img
                        [src]="imagePreview"
                        alt="Image Preview"
                        class="preview-image"
                      />
                    </div>
                    <div *ngIf="videoPreview" class="mt-3">
                      <video [src]="videoPreview" controls>
                        Your browser does not support the video tag.
                      </video>
                    </div>
                    <input
                      #chooseFile
                      hidden
                      type="file"
                      class="d-none"
                      (change)="onFileSelected($event)"
                      accept="video/*,image/*"
                    />
                  </div>
                </div>
              </div>
              <mat-error
                *ngIf="
                  !Global.isInputRuleValid(homeHeroSecForm, 'file', 'required')
                "
              >
                File is required
              </mat-error>
            </form>
          </div>
          <div>
            <button
              (click)="submitHeroSecData()"
              [disabled]="homeHeroSecForm.disabled"
              class="flex border w-full justify-center px-3 py-3 text-green-500"
            >
              {{
                homeHeroSecForm.disabled
                  ? "Please wait..."
                  : data
                  ? "Update & Continue"
                  : "Save &
                            Continue"
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
