<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="p-1 add-new-title sm:px-6">
            <h2
              class="flex justify-between items-center font-semibold text-white"
              id="slide-over-title"
            >
              {{ data ? "Update " : "Add New" }} Service
              <button color="warn" mat-dialog-close mat-icon-button>
                <mat-icon class="text-red-700">close</mat-icon>
              </button>
            </h2>
          </div>

          <div
            style="height: calc(100vh - 200px); overflow-y: auto"
            class="relative my-3 flex-1 px-4 sm:px-6"
          >
            <form class="space-y-1" [formGroup]="formGroup">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Name
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'name',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <input
                      formControlName="name"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'name')
                      "
                      placeholder="Type Here"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(formGroup, 'name', 'required')
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            
              <div>
                <label class="block text-sm/6 font-medium text-gray-900">
                  Description
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'description',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <textarea
                      formControlName="description"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'description')
                      "
                      placeholder="Type Here"
                    ></textarea>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'description',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900">
                  Caption Text
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'caption_text',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <input
                      formControlName="caption_text"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'caption_text')
                      "
                      placeholder="Type Here"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'caption_text',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Status
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'status',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-form-field>
                    <mat-select
                      placeholder="Select"
                      formControlName="status"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'status')
                      "
                    >
                      <mat-option value="active">Active</mat-option>
                      <mat-option value="inactive">Inactive</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'status',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="h-60 border">
                <div
                  class="w-full h-full rounded flex items-center justify-center relative"
                >
                  <span
                    *ngIf="formGroup.value.file_preview"
                    class="absolute right-2 top-2 bg-white rounded-sm"
                  >
                    <app-menu
                      [modalItem]="true"
                      (initModal)="mediaFile.click()"
                    ></app-menu>
                  </span>
                  <ng-container *ngIf="formGroup.value.file_preview">
                    <img
                      class="rounded-md w-full bg-gray-200 object-cover h-60"
                      [src]="formGroup.value.file_preview"
                      alt="Image"
                    />
                  </ng-container>
                  <ng-container *ngIf="!formGroup.value.file_preview">
                    <div
                      class="flex flex-col items-center justify-center cursor-pointer"
                      (click)="mediaFile.click()"
                    >
                      <img src="assets/placeholder-image-outline.png" alt="" />
                      <div>Upload Image Here</div>
                      <div class="text-center text-red-600 font-normal italic">
                        Maximum file size is 5 MB
                      </div>
                    </div>
                  </ng-container>
                </div>
                <input
                  type="file"
                  #mediaFile
                  hidden
                  (change)="
                    Global.onFileSelected(
                      formGroup,
                      $event,
                      'file',
                      toastr,
                      ['image/jpeg', 'image/png'],
                      'file_preview'
                    )
                  "
                />
              </div>
            </form>
          </div>
          <div>
            <button
              (click)="onSubmit()"
              [disabled]="formGroup.disabled"
              class="flex border w-full justify-center px-3 py-3 text-green-500"
            >
              {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
