<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="p-1 add-new-title sm:px-6">
            <h2
              class="flex justify-between items-center font-semibold text-white"
              id="slide-over-title"
            >
              {{
                data?.id ? "Update " : data?.temp_id ? "" : "Add New"
              }}
              Service
              {{
                data?.request_details?.action_type
                  ? (data?.request_details?.action_type | titlecase) +
                    " Details"
                  : ""
              }}
              <button color="warn" mat-dialog-close mat-icon-button>
                <mat-icon class="text-red-700">close</mat-icon>
              </button>
            </h2>
          </div>

          <div
            style="height: calc(100vh - 200px); overflow-y: auto"
            class="relative my-3 flex-1 px-4 sm:px-6"
          >
            <form class="space-y-1" [formGroup]="formGroup">
              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Name
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(formGroup, 'name', 'required')
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.name &&
                      data?.previous_data?.name != formGroup.value.name
                    "
                  >
                    {{ data?.previous_data?.name }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="name"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'name')
                      "
                      placeholder="Type Here"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(formGroup, 'name', 'required')
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="mb-2">
                <label class="block text-sm/6 font-medium text-gray-900">
                  Description
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'description',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div
                  class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 text-area-sec terms-height"
                >
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.description &&
                      data?.previous_data?.description !=
                        formGroup.value.description
                    "
                  >
                    <div [innerHTML]="data?.previous_data?.description"></div>
                  </mat-error>
                  <ngx-editor-menu
                    [editor]="editor"
                    [disabled]="data?.temp_id"
                    [toolbar]="Global.toolbar"
                  >
                  </ngx-editor-menu>
                  <div class="inner-height">
                    <ngx-editor
                      [editor]="editor"
                      formControlName="description"
                      [placeholder]="'Add Description'"
                    ></ngx-editor>
                  </div>
                </div>
                <mat-error
                  class="my-2"
                  *ngIf="
                    !Global.isInputRuleValid(
                      formGroup,
                      'description',
                      'required'
                    )
                  "
                >
                  This field is required
                </mat-error>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900">
                  Caption Text
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'caption_text',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.caption_text &&
                      data?.previous_data?.caption_text !=
                        formGroup.value.caption_text
                    "
                  >
                    {{ data?.previous_data?.caption_text }}
                  </mat-error>
                  <mat-form-field>
                    <input
                      formControlName="caption_text"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'caption_text')
                      "
                      placeholder="Type Here"
                    />
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'caption_text',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <label class="block text-sm/6 font-medium text-gray-900"
                  >Status
                  <span
                    class="text-red-500"
                    *ngIf="
                      Global.isInputRuleAvailable(
                        formGroup,
                        'status',
                        'required'
                      )
                    "
                    >*</span
                  >
                </label>
                <div class="mt-2">
                  <mat-error
                    class="line-through"
                    *ngIf="
                      data?.previous_data &&
                      data?.previous_data?.status &&
                      data?.previous_data?.status != formGroup.value.status
                    "
                  >
                  <span [class]="data?.previous_data?.status">{{
                    data?.previous_data?.status
                  }}</span>
                  </mat-error>
                  <mat-form-field>
                    <mat-select
                      placeholder="Select"
                      formControlName="status"
                      matInput
                      [class.is-invalid]="
                        !Global.isInputValid(formGroup, 'status')
                      "
                    >
                      <mat-option value="active">Active</mat-option>
                      <mat-option value="inactive">Inactive</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="
                        !Global.isInputRuleValid(
                          formGroup,
                          'status',
                          'required'
                        )
                      "
                    >
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div
                class="border h-60 rounded relative"
                *ngIf="
                  data?.previous_data &&
                  data?.previous_data?.file_path &&
                  Global.BACKEND_URL + data?.previous_data?.file_path !=
                    formGroup.value.file_preview
                "
              >
                <div class="previous-image">Previous Image</div>
                <div class="">
                  <img
                    class="blur-xs grayscale opacity-50 object-cover"
                    [src]="Global.BACKEND_URL + data?.previous_data?.file_path"
                    alt="OLD File"
                  />
                </div>
              </div>
              <div class="h-60 border">
                <div
                  class="w-full h-full rounded flex items-center justify-center relative"
                >
                  <span
                    *ngIf="formGroup.value.file_preview"
                    class="absolute right-2 top-2 bg-white rounded-sm"
                  >
                    <app-menu
                      [modalItem]="!data?.temp_id ? true : false"
                      (initModal)="mediaFile.click()"
                    ></app-menu>
                  </span>
                  <ng-container *ngIf="formGroup.value.file_preview">
                    <img
                      class="rounded-md w-full bg-gray-200 object-cover h-60"
                      [src]="formGroup.value.file_preview"
                      alt="Image"
                    />
                  </ng-container>
                  <ng-container *ngIf="!formGroup.value.file_preview">
                    <div
                      class="flex flex-col items-center justify-center cursor-pointer"
                      (click)="mediaFile.click()"
                    >
                      <img src="assets/placeholder-image-outline.png" alt="" />
                      <div>Upload Image Here</div>
                      <!-- <div class="text-center text-red-600 font-normal italic">
                        Accepts the following file types: .png, .jpg.
                      </div> -->
                    </div>
                  </ng-container>
                </div>
                <div class="w-full text-sm pt-1" style="color: red">
                  <b>Note:</b> Upload files in .png, .jpg, .jpeg formats only.
                  Recommended file size: 148 pixels in width and 148 pixels in
                  height.
                </div>
                <input
                  type="file"
                  #mediaFile
                  hidden
                  (change)="
                    Global.onFileSelected(
                      formGroup,
                      $event,
                      'file',
                      toastr,
                      ['image/jpeg', 'image/png'],
                      'file_preview'
                    )
                  "
                />
              </div>
            </form>
          </div>
          <div *ngIf="!data?.temp_id">
            <button
              (click)="onSubmit()"
              [disabled]="formGroup.disabled"
              class="flex border w-full justify-center px-3 py-3 text-green-500"
            >
              {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
            </button>
          </div>
          <div
            class="flex"
            *ngIf="
              data?.request_details?.status === 'pending' && !data?.isViewOnly
            "
          >
            <button
              (click)="approveContent('approved')"
              class="flex border w-[50%] justify-center px-3 py-3 text-green-500"
            >
              APPROVE
            </button>
            <button
              (click)="approveContent('rejected')"
              class="flex border w-[50%] justify-center px-3 py-3 text-red-500"
            >
              REJECT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
