/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";
@import "@swimlane/ngx-datatable/themes/material.scss";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.mat-mdc-menu-panel {
  background: white !important;
  padding: 0 !important;
}
.page-wrapper {
  display: flex;
  height: 100vh;

  .left-wrapper {
    background-color: #f8f8f8;
    margin-right: 10px;
    width: 290px;
  }
  .stretch-left-wrapper {
    background-color: #f8f8f8 !important;
    margin-right: 10px !important;
    width: 80px !important;
  }
  .right-wrapper {
    width: 100%;
  }
}
.system-bg {
  background-color: #f8f8f8;
}
.outlet {
  margin: 0;
  padding: 10px;
  background-color: #f8f8f8;
  height: calc(100vh - 90px);
  overflow: auto;
}
.full-outlet {
  margin: 10px 10px 0 0 !important;
  padding: 10px !important;
  background-color: #f8f8f8 !important;
  overflow: auto !important;
  height: calc(100vh - 60px) !important;
}
.content-box {
  height: calc(100% - 0px);
  background: white;
}
ngx-editor,
.NgxEditor,
.NgxEditor__Content {
  height: inherit !important;
}
.NgxEditor__Content {
  height: inherit !important;
  overflow: auto;
}
.mdc-dialog--open .mat-mdc-dialog-surface {
  background: transparent !important;
}
table {
  min-width: 100%;
}
thead th {
  background: #f054231a;
  border: 1px solid white;
  padding: 12px 22px;
}
thead th:first-child {
  border-left: none;
}
thead th:last-child {
  border-right: none;
}

tbody td {
  border: 1px solid white;
  padding: 12px 22px;
}
tbody td:first-child {
  border-left: none;
}
tbody td:last-child {
  border-right: none;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White background for odd cells */
}

tbody tr:nth-child(even) {
  background-color: #eaeaea3b; /* Light gray background for even cells */
}

.add-new-title {
  background: #11192a;
}
.date {
  min-width: 118px;
}
tbody tr td {
  border-bottom: 1px solid #cdcdcd !important;
}
.settings-bg-card {
  position: absolute;
  right: -5px;
  top: -23px;
  background: rgba(218, 14, 41, 0.1);
  display: block;
  width: 73px;
  height: 97px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 35px;
  box-shadow: 1px 7px -00px 0px #d474811a;
}
.ai-button {
  padding: 10px 20px;
  border-radius: 30px;
  background: #da0e29;
  color: #ffffff;
}
button.save-button {
  padding: 16px;
  box-shadow: 1px -8px 16px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(31, 191, 117, 1);
}
.table-wrapper {
  height: calc(100vh - 230px);
  overflow: auto;
}
.add-wrapper {
  height: calc(100vh - 100px);
  overflow: auto;
}
tr.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background: inherit;
}
