.header-on {
  margin-top: 50px;
}
.outlet {
  margin: 0;
  padding: 0 20px;
  background-color: #f8f8f8;
  //   height: calc(100vh - 100px);
  // overflow: auto;
}
.full-outlet {
  // margin: 10px 10px 0 0 !important;
  // background-color: #f8f8f8 !important;
  // overflow: auto !important;
  //   height: calc(100vh - 109px) !important;
  padding-bottom: 50px;
}
.content-box {
  //   height: calc(100% - 0px);
  background: white;
}
