<div class="page-wrapper">
  <div [class]="isNavOpen ? 'left-wrapper' : 'stretch-left-wrapper'">
    <app-side-nav [isNavOpen]="isNavOpen"></app-side-nav>
  </div>
  <div class="right-wrapper">
    <app-header
      [isNavOpen]="isNavOpen"
      (toggleSideNav)="toggleSideNav($event)"
    ></app-header>
    <app-breadcums></app-breadcums>
    <div class="outlet" [class]="breadcrumbs?.length ? '' : 'full-outlet'">
      <div [class]="pagesOutlet || !breadcrumbs?.length ? '' : 'content-box'">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
