<div class="add-wrapper">
  <form class="space-y-0 p-3" [formGroup]="formGroup">
    
<div class="grid grid-cols-4 gap-4">
  <div>
    <label class="block text-sm/6 font-medium text-gray-900"
      >Tendor Category
      <span
        class="text-red-500"
        *ngIf="Global.isInputRuleAvailable(formGroup, 'tender_category_id', 'required')"
        >*</span
      >
    </label>
    <div class="mt-2">
      <mat-form-field>
        <mat-select
          placeholder="Select"
          formControlName="tender_category_id"
          matInput
          [class.is-invalid]="!Global.isInputValid(formGroup, 'tender_category_id')"
        >
        <ng-container *ngFor="let item of category_list">
          <mat-option [value]="item.id">{{item?.category_name}}</mat-option>

        </ng-container>
        </mat-select>
        <mat-error
          *ngIf="!Global.isInputRuleValid(formGroup, 'tender_category_id', 'required')"
        >
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label class="block text-sm/6 font-medium text-gray-900"
      >Tender No
      <span
        class="text-red-500"
        *ngIf="
          Global.isInputRuleAvailable(formGroup, 'tender_no', 'required')
        "
        >*</span
      >
    </label>
    <div class="mt-2">
      <mat-form-field>
        <input
          formControlName="tender_no"
          matInput
          [class.is-invalid]="!Global.isInputValid(formGroup, 'tender_no')"
          placeholder="Type Here"
        />
        <mat-error
          *ngIf="
            !Global.isInputRuleValid(formGroup, 'tender_no', 'required')
          "
        >
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label class="block text-sm/6 font-medium text-gray-900"
      >Tender Status
      <span
        class="text-red-500"
        *ngIf="Global.isInputRuleAvailable(formGroup, 'tender_status', 'required')"
        >*</span
      >
    </label>
    <div class="mt-2">
      <mat-form-field>
        <mat-select
          placeholder="Select"
          formControlName="tender_status"
          matInput
          [class.is-invalid]="!Global.isInputValid(formGroup, 'tender_status')"
        >
          <mat-option value="open">Open</mat-option>
          <mat-option value="closed">Closed</mat-option>
        </mat-select>
        <mat-error
          *ngIf="!Global.isInputRuleValid(formGroup, 'tender_status', 'required')"
        >
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div>
    <label class="block text-sm/6 font-medium text-gray-900"
      >Status
      <span
        class="text-red-500"
        *ngIf="Global.isInputRuleAvailable(formGroup, 'status', 'required')"
        >*</span
      >
    </label>
    <div class="mt-2">
      <mat-form-field>
        <mat-select
          placeholder="Select"
          formControlName="status"
          matInput
          [class.is-invalid]="!Global.isInputValid(formGroup, 'status')"
        >
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
        <mat-error
          *ngIf="!Global.isInputRuleValid(formGroup, 'status', 'required')"
        >
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
    <div>
      <label class="block text-sm/6 font-medium text-gray-900"
        >Tender name
        <span
          class="text-red-500"
          *ngIf="
            Global.isInputRuleAvailable(formGroup, 'tender_name', 'required')
          "
          >*</span
        >
      </label>
      <div class="mt-2">
        <mat-form-field>
          <input
            formControlName="tender_name"
            matInput
            [class.is-invalid]="!Global.isInputValid(formGroup, 'tender_name')"
            placeholder="Type Here"
          />
          <mat-error
            *ngIf="
              !Global.isInputRuleValid(formGroup, 'tender_name', 'required')
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <label class="block text-sm/6 font-medium text-gray-900"
        >Description
        <span
          class="text-red-500"
          *ngIf="
            Global.isInputRuleAvailable(formGroup, 'description', 'required')
          "
          >*</span
        >
      </label>
      <div class="mt-2">
        <mat-form-field>
          <textarea
            formControlName="description"
            matInput
            [class.is-invalid]="!Global.isInputValid(formGroup, 'description')"
            placeholder="Type Here"
          ></textarea>
          <mat-error
            *ngIf="
              !Global.isInputRuleValid(formGroup, 'description', 'required')
            "
          >
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex w-[70%]">
      <div class="w-[50%]">
        <label class="block text-sm/6 font-medium text-gray-900"
          >Start Date
          <span
            class="text-red-500"
            *ngIf="
              Global.isInputRuleAvailable(formGroup, 'start_at', 'required')
            "
            >*</span
          >
        </label>
        <div class="mt-2">
          <mat-form-field>
            <input
              matInput
              formControlName="start_at"
              [matDatepicker]="startDatePicker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error
              *ngIf="
                !Global.isInputRuleValid(formGroup, 'start_at', 'required')
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <span class="mx-3"></span>
      <div class="w-[50%]">
        <label class="block text-sm/6 font-medium text-gray-900"
          >End Date
          <span
            class="text-red-500"
            *ngIf="Global.isInputRuleAvailable(formGroup, 'end_at', 'required')"
            >*</span
          >
        </label>
        <div class="mt-2">
          <mat-form-field>
            <input
              matInput
              formControlName="end_at"
              [matDatepicker]="endDatePicker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error
              *ngIf="!Global.isInputRuleValid(formGroup, 'end_at', 'required')"
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="w-[20%]">
      <div class="h-40">
        <div
          class="w-full border h-full rounded flex items-center justify-center relative"
        >
          <span
            *ngIf="formGroup.value.file_preview"
            class="absolute right-2 top-2"
          >
            <app-menu
              [modalItem]="true"
              (initModal)="fileChoose.click()"
            ></app-menu>
          </span>
          <ng-container *ngIf="formGroup.value.file_preview">
            <img
              class="rounded-md w-full bg-gray-200 object-fit"
              [src]="formGroup.value.file_preview"
              alt=" Media"
            />
          </ng-container>
          <ng-container *ngIf="!formGroup.value.file_preview">
            <div
              class="flex flex-col items-center justify-center"
              (click)="fileChoose.click()"
            >
              <img src="assets/placeholder-image-outline.png" alt="" />
              <div>Upload Attachment</div>
            </div>
          </ng-container>
        </div>
        <input
          type="file"
          #fileChoose
          hidden
          (change)="
            Global.onFileSelected(
              formGroup,
              $event,
              'file',
              toastr,
              ['image/jpeg', 'image/png'],
              'file_preview'
            )
          "
        />
      </div>
    </div>
    <div class="flex items-center">
      <span>Corrigendum Tender?</span>
      <mat-radio-group
        formControlName="corrigendum_tender"
        class="mx-2"
        aria-label="Select an option"
      >
        <mat-radio-button value="yes">Yes</mat-radio-button>
        <mat-radio-button value="no">No</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="flex w-[70%]">
      <div class="w-[50%]">
        <label class="block text-sm/6 font-medium text-gray-900"
          >Start Date
          <span
            class="text-red-500"
            *ngIf="
              Global.isInputRuleAvailable(
                formGroup,
                'corrigendum_start_at',
                'required'
              )
            "
            >*</span
          >
        </label>
        <div class="mt-2">
          <mat-form-field>
            <input
              [readonly]="formGroup.value.corrigendum_tender == 'no'"
              matInput
              formControlName="corrigendum_start_at"
              [matDatepicker]="corrigendum_start_date_picker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="corrigendum_start_date_picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #corrigendum_start_date_picker></mat-datepicker>
            <mat-error
              *ngIf="
                !Global.isInputRuleValid(
                  formGroup,
                  'corrigendum_start_at',
                  'required'
                )
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <span class="mx-3"></span>
      <div class="w-[50%]">
        <label class="block text-sm/6 font-medium text-gray-900"
          >End Date
          <span
            class="text-red-500"
            *ngIf="
              Global.isInputRuleAvailable(
                formGroup,
                'corrigendum_end_at',
                'required'
              )
            "
            >*</span
          >
        </label>
        <div class="mt-2">
          <mat-form-field>
            <input
              matInput
              formControlName="corrigendum_end_at"
              [matDatepicker]="corrigendum_end_date_picker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="corrigendum_end_date_picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #corrigendum_end_date_picker></mat-datepicker>
            <mat-error
              *ngIf="
                !Global.isInputRuleValid(
                  formGroup,
                  'corrigendum_end_at',
                  'required'
                )
              "
            >
              This field is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="w-[20%]">
      <div class="h-40">
        <div
          class="w-full border h-full rounded flex items-center justify-center relative"
        >
          <span
            *ngIf="formGroup.value.file_co_preview"
            class="absolute right-2 top-2"
          >
            <app-menu
              [modalItem]="true"
              (initModal)="fileCoChoose.click()"
            ></app-menu>
          </span>
          <ng-container *ngIf="formGroup.value.file_co_preview">
            <img
              class="rounded-md w-full bg-gray-200 object-fit"
              [src]="formGroup.value.file_co_preview"
              alt=" Media"
            />
          </ng-container>
          <ng-container *ngIf="!formGroup.value.file_co_preview">
            <div
              class="flex flex-col items-center justify-center"
              (click)="fileCoChoose.click()"
            >
              <img src="assets/placeholder-image-outline.png" alt="" />
              <div>Upload Attachment</div>
            </div>
          </ng-container>
        </div>
        <input
          type="file"
          #fileCoChoose
          hidden
          (change)="
            Global.onFileSelected(
              formGroup,
              $event,
              'file_co',
              toastr,
              ['image/jpeg', 'image/png'],
              'file_co_preview'
            )
          "
        />
      </div>
    </div>


    <div class="flex mt-3 justify-end">
      <button
        (click)="onSubmit()"
        [disabled]="formGroup.disabled"
        class="ai-button"
      >
        {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
      </button>
    </div>
  </form>
</div>
