<div *ngIf="isFirstCondition" class="w-full bg-white p-5 h-full rounded flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <img src="assets/placeholder-image-outline.png" alt="" />
    <div>Upload Image Here</div>
    <div class="text-center text-red-600 font-normal italic">
      Mimimum size required 1920 width 640 height
    </div>
  </div>
</div>

<div *ngIf="!isFirstCondition" class="w-full bg-white p-5 h-full rounded flex items-center justify-center">
  <div class="flex flex-col items-center justify-center">
    <img src="assets/placeholder-image-outline.png" alt="" />
    <div>Upload Image Here</div>
    <div class="text-center text-red-600 font-normal italic">
      Mimimum size required 350 width 750 height
    </div>
  </div>
</div>