<div class="relative overflow-x-auto">
  <div class="m-3 flex justify-between items-center">
    <div class="flex flex-col items-start">
      <span class="text-base font-medium">Services List</span>
      <span class="block text-gray-500 text-xs"
        >{{ paginationOption.total_records }} services added</span
      >
    </div>
    <button
      *ngIf="permissions.includes('add')"
      (click)="addItem()"
      class="ai-button"
    >
      + Add New
    </button>
  </div>
  <hr />
  <div class="m-3">
    <div class="table-wrapper">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr class="sticky">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-center">Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of item_list">
            <tr>
              <td class="p-2">
                <img
                  class="rounded-md w-full bg-gray-200 object-contain h-20"
                  [src]="Global.BACKEND_URL + item?.file_path"
                  alt="Image"
                />
              </td>
              <td scope="row" class="">
                {{ item?.name }}
              </td>
              <td>{{ item?.description }}</td>
              <td class="text-center">
                <span [class]="item?.status">
                  {{ item?.status }}
                </span>
              </td>
              <td class="text-center">
                <app-menu
                  [modalItem]="permissions.includes('edit') ? item : null"
                  (initModal)="addItem($event)"
                  (deleteItem)="deleteItem($event)"
                  [delete]="permissions.includes('delete') ? item : null"
                ></app-menu>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!item_list?.length">
            <tr>
              <td class="text-center" colspan="5">No Items Found</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <ng-container>
      <pagination
        [pagination]="paginationOption"
        (pageChange)="onPageChange($event)"
      ></pagination>
    </ng-container>
  </div>
</div>
